/* color palette */ 
:root {
  --one: #000000;
  --two: #14213D;
  --three: #FCA311;
  --four: #E5E5E5;
  --five: #FFFFFF;

}

/* root id */
#root {
  background-color: var(--one);
  font-family: 'Orbitron', sans-serif;
}
.loginForm {
  border: 2px solid var(--three);
  color: var(--three);
  margin-top: 5%;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 8%;
}
.loginForm-top {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 3%
};

/* nav bar */
.t-nav-bar {
  background-color: var(--one);
  border-bottom: 20px solid var(--two);
  font-size: 18px;
}

#t-nav-title {
  color: var(--five);
  font-size: 28px;
}

#t-nav-title:hover {
  text-decoration: underline 5px;
}

#t-nav-link {
  color: var(--five);
  font-size: 18px;
}

#t-nav-link-feed {
  color: var(--five);
  margin-right: 200px
}

#t-nav-link-profile {
  margin-right: 150px;
  color: var(--five);
}


#t-nav-link:hover, #t-nav-link-feed:hover, #t-nav-link-profile:hover {
  text-decoration: underline 5px
}

/* footer */
.t-colony-footer {
  background-color: var(--one);
  border-top: 20px solid var(--two);
}

.t-footer-item {
  margin: 1%;
}

.t-footer-copyright {
  margin: 2%;
  color: var(--five)
}

#t-footer-icon {
  border-radius: 50px;
}

#t-footer-icon:hover {
  box-shadow: 5px 5px 30px 5px var(--one)
}

